# venvs
.venv/
venv/

# env files
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tests / tooling
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/
*.log

__pycache__/
*.py[cod]
.venv/
.env
*.sqlite3
/media/
/staticfiles/
/backups/
